@model IEnumerable<CEMIG.MapadoSite.Data.Models.PaginaAusente>

@{
    ViewData["Title"] = "Informações de Páginas Ausente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group" style="text-align: right">
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModalCriarPaginaAusente">
        <i class="fa cui-pencil icons"></i>&nbsp;Criar Nova Página Ausente
    </button>
</div>
<table class="table table-responsive-sm table-bordered table-striped table-sm">
    <thead>
        <tr style="color: white; background-color: #005c34">
            <th width="25%">
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th width="50%">
                Observação
            </th>
            <th>
                Usuário
            </th>
            <th>
                Data de Criação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>                    
                    <code class="highlighter-rouge"><a href="http://@(item.Link)" target="_blank">@Html.DisplayFor(modelItem => item.Link)</a></code>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Modals {
    <div class="modal fade" id="myModalCriarPaginaAusente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-gray" style="color: white">
                    <h2>Incluir Página Ausente</h2>
                </div>
                <div class="modal-body bg-gray-100">
                    <div class="col-sm-12">
                        <div class="card">
                            @*<div class="card-header bg-gray">

                                </div>*@
                            <div class="card-body bg-gray-100">
                                @{Html.RenderPartial("_CriarPaginaAusente", new CEMIG.MapadoSite.Data.Models.PaginaAusente());}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
}